In [1]:
import sys
import os
# Navigate up one level to the parent directory and append it to sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), os.pardir)))
import nfl_data_py as nfl
import pandas as pd
from src import utils

In [3]:
week = 4

In [4]:
inp_df = pd.read_html('https://stats.inpredictable.com/rankings/nfl.php')[0]
inp_df.columns = inp_df.columns.droplevel(level=0)

In [5]:
inp_df.head()

,Rank,Team,LstWk,LstWk.1,GPF,GPF.1,oGPF,oGPF.1,oGPF.2,dGPF,dGPF.1,dGPF.2,W-L,W-L.1,Projected Seed,Projected Seed.1,pSOS,pSOS.1,fSOS,fSOS.1
0,1,&nbspKC,3,NaN,7.1,NaN,5.1,2,NaN,2.0,6,NaN,2-1,4,88.7%,NaN,-1.8,25,0.7,8
1,2,&nbspBUF,2,NaN,6.5,NaN,4.6,3,NaN,1.9,7,NaN,2-1,4,78.1%,NaN,-2.6,31,1.4,1
2,3,&nbspSF,4,NaN,6.0,NaN,3.4,5,NaN,2.6,4,NaN,3-0,1,94.9%,NaN,-1.5,24,-0.3,18
3,4,&nbspMIA,6,NaN,5.0,NaN,5.5,1,NaN,-0.6,20,NaN,3-0,1,88.9%,NaN,0.1,15,0.4,15
4,5,&nbspPHI,5,NaN,4.8,NaN,3.5,4,NaN,1.3,9,NaN,3-0,1,89.8%,NaN,-0.4,16,0.6,11

In [6]:
inp_df = utils.clean_df_columns(inp_df)

In [7]:
inp_df.head()

,rank,team,lstwk,lstwk1,gpf,gpf1,ogpf,ogpf1,ogpf2,dgpf,dgpf1,dgpf2,wl,wl1,projected_seed,projected_seed1,psos,psos1,fsos,fsos1
0,1,&nbspKC,3,NaN,7.1,NaN,5.1,2,NaN,2.0,6,NaN,2-1,4,88.7%,NaN,-1.8,25,0.7,8
1,2,&nbspBUF,2,NaN,6.5,NaN,4.6,3,NaN,1.9,7,NaN,2-1,4,78.1%,NaN,-2.6,31,1.4,1
2,3,&nbspSF,4,NaN,6.0,NaN,3.4,5,NaN,2.6,4,NaN,3-0,1,94.9%,NaN,-1.5,24,-0.3,18
3,4,&nbspMIA,6,NaN,5.0,NaN,5.5,1,NaN,-0.6,20,NaN,3-0,1,88.9%,NaN,0.1,15,0.4,15
4,5,&nbspPHI,5,NaN,4.8,NaN,3.5,4,NaN,1.3,9,NaN,3-0,1,89.8%,NaN,-0.4,16,0.6,11

In [8]:
inp_df.to_csv(f'../../data/inpredictable/inpredictable-wk{week}.csv')

In [7]:
# import requests
# from bs4 import BeautifulSoup


# HEADERS = {'User-Agent': 'Mozilla/5.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148'}

# response = requests.get('https://sumersports.com/league-table/', headers=HEADERS)

In [10]:
sumer_backup = pd.read_clipboard()

In [27]:
sumer_backup.to_csv(f'../../data/sumer/sumer-elo-wk{week}.csv')

In [22]:
sumer_df = sumer_backup.copy()

In [24]:
sumer_df = sumer_backup.copy()
sumer_df = sumer_df.dropna(axis=1, how='all')
sumer_df = sumer_df.dropna(subset=['Playoff'])
sumer_df.columns = ['elo', 'wins', 'playoff', 'division', 'playoff_bye', 'conference', 'sb', 'first_pick', 'psos', 'fsos']

In [26]:
sumer_df.iloc[0, 'division']

KeyError: 0

In [20]:
for col in sumer_df.columns:
    if df.loc[0, col]
    sumer_df[col] = sumer_df[col].str.replace('%', '').astype(float)
sumer_df['team'] = utils.get_nfl_teams()
sumer_df = sumer_df.set_index('team')

AttributeError: Can only use .str accessor with string values!

In [21]:
utils.reduce_memory_usage(sumer_df)

Mem. usage decreased to 0.00 Mb (68.2% reduction)

,elo,wins,playoff,division,playoff_bye,conference,sb,first_pick,psos,fsos
2,1345.0,4.398438,3.500000,0.700195,0.000000,0.099976,0.000000,21.296875,1510.0,1523.0
5,1488.0,9.500000,58.593750,37.187500,4.699219,3.800781,1.500000,0.700195,1417.0,1458.0
8,1561.0,10.203125,64.000000,33.093750,10.398438,7.800781,3.400391,0.300049,1338.0,1501.0
11,1652.0,10.703125,74.312500,49.812500,12.796875,16.500000,8.398438,0.099976,1534.0,1527.0
14,1449.0,7.500000,30.093750,13.398438,0.899902,1.400391,0.500000,3.300781,1521.0,1476.0
17,1398.0,5.601562,10.296875,3.500000,0.099976,0.300049,0.099976,11.101562,1496.0,1498.0
20,1602.0,10.296875,66.500000,32.406250,9.601562,10.101562,4.800781,0.199951,1554.0,1499.0
23,1522.0,10.101562,61.906250,28.703125,8.898438,6.199219,2.500000,0.300049,1570.0,1479.0
26,1632.0,11.296875,84.375000,39.093750,15.898438,16.796875,9.101562,0.000000,1469.0,1521.0
29,1463.0,6.699219,15.000000,3.500000,0.500000,0.700195,0.199951,4.398438,1473.0,1525.0
32,1514.0,9.796875,63.312500,42.093750,5.601562,5.800781,2.500000,0.300049,1741.0,1488.0
35,1529.0,10.000000,66.187500,46.000000,7.398438,6.500000,2.900391,0.500000,1430.0,1488.0
38,1371.0,6.101562,13.203125,8.296875,0.199951,0.199951,0.099976,9.703125,1593.0,1461.0
41,1382.0,6.101562,13.203125,6.800781,0.199951,0.199951,0.099976,8.203125,1506.0,1475.0
44,1539.0,10.296875,74.875000,67.500000,10.898438,8.601562,3.400391,0.099976,1415.0,1496.0
47,1708.0,11.796875,88.000000,69.812500,28.406250,32.187500,18.500000,0.000000,1482.0,1521.0
50,1500.0,8.601562,44.906250,14.898438,2.900391,2.900391,1.299805,0.799805,1494.0,1514.0
53,1517.0,7.601562,27.406250,8.898438,1.799805,2.199219,0.899902,2.500000,1504.0,1531.0
56,1505.0,9.101562,46.812500,17.796875,4.398438,3.599609,1.400391,0.700195,1496.0,1511.0
59,1537.0,9.296875,51.812500,26.593750,5.500000,5.000000,2.000000,0.199951,1550.0,1531.0
62,1471.0,6.398438,18.203125,8.398438,0.399902,0.899902,0.399902,4.601562,1415.0,1531.0
65,1463.0,6.699219,18.000000,6.800781,0.799805,1.000000,0.399902,4.199219,1639.0,1527.0
68,1482.0,9.203125,51.687500,32.187500,3.599609,3.500000,1.299805,0.799805,1393.0,1465.0
71,1437.0,5.601562,8.898438,1.000000,0.099976,0.199951,0.099976,7.500000,1599.0,1540.0
74,1501.0,8.500000,39.000000,16.796875,3.599609,3.300781,1.200195,0.500000,1620.0,1528.0
77,1671.0,12.101562,89.812500,54.687500,25.406250,25.500000,15.101562,0.000000,1496.0,1524.0
80,1443.0,6.800781,19.203125,5.699219,0.799805,0.899902,0.300049,5.101562,1630.0,1493.0
83,1462.0,6.300781,13.601562,3.000000,0.199951,0.500000,0.199951,5.300781,1467.0,1520.0
86,1663.0,12.398438,92.812500,81.375000,30.000000,28.593750,15.898438,0.000000,1476.0,1498.0
89,1448.0,7.898438,34.812500,17.296875,1.400391,1.400391,0.399902,1.299805,1504.0,1499.0
92,1425.0,7.199219,26.796875,17.406250,1.099609,1.299805,0.399902,4.300781,1515.0,1472.0
95,1478.0,7.601562,28.796875,5.300781,1.400391,1.700195,0.700195,1.700195,1313.0,1542.0